* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 16px;
  }
}
a,
a:hover,
img,
img:hover,
button,
button:hover,
i,
i:hover {
  transition: all 0.3s ease-in-out;
}

a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

img {
  border: 0;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}
.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
}
.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #f7941d;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}
.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}
@keyframes preloader-fx {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
/* End Preloader */

body {
  background: #fff;
}
.no-underline {
  text-decoration: none;
}
.remove-underline-clr {
  text-decoration: none;
  color: gray;
  float: right;
}
.fw-custom-email-pass {
  font-weight: 500;
}
.clr-log {
  background-color: rgb(236, 241, 244);
  font-weight: 500;
  color: #566a7f;
}

.new-member-note {
  color: #757575;
  font-weight: 500;
  font-size: 12px;
}
.reg-design {
  text-decoration: none;
  color: lightseagreen;
}
.mt-6 {
  margin-top: 5rem;
}
.Signup-member-note {
  color: #757575;
  font-weight: 500;
  font-size: 12px;
}
.privacy-policy {
  text-decoration: none;
}
.checkbox-size {
  scale: 1.2;
  border-radius: 0.25em;
}
.forget-design {
  text-decoration: none;
  color: lightseagreen;
  font-weight: 500;
  font-size: 20px;
}
.pl-custom {
  padding-left: 0%;
}
.pr-custom {
  width: 32px;
}
.w-custom {
  width: 35%;
}
.change-font-family {
  font-family: "Fredericka the Great";
  font-weight: 500;
  font-size: 35px;
}
.transitions {
  transition: 0.3s;
  animation: buttons 0.4s linear;
}
@keyframes buttons {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.mrvalidate-custom {
  margin-right: 40px;
}

.top-icon-color {
  color: rgb(247, 148, 29);
}
.top-bar-style {
  font-size: 18px;
  color: rgb(51, 51, 51);
  font-weight: 500;
}
.padding-top-right {
  padding-left: 30px;
}
.hr-top {
  border: 1px solid #eeeeee;
}
.credential-hover:hover {
  color: rgb(247, 148, 29);
}
.logo-design {
  width: 100px;
}

.cart-account-design {
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  text-align: center;
}
.cart-design {
  padding-right: 17px;
  font-size: 22px;
  cursor: pointer;
}
.account-design {
  padding-left: 17px;
  font-size: 22px;
  cursor: pointer;
}
.cart-design:hover {
  color: rgb(247, 148, 29);
  transition: 0.2s ease;
}
.account-design:hover {
  color: rgb(247, 148, 29);
  transition: 0.2s ease;
}
.custom-padding-search-bar {
  padding: 20px 0 20px 0;
}
.sign-in-design {
  color: rgb(247, 148, 29);
  font-weight: 500;
}
.custom-shadow-box:focus {
  border: 2px solid #333333;
  outline: none;
  box-shadow: none;
}

.navbar {
  background: #333;
  height: 64px;
}
.custom-navlinks {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  padding: 17px 15px 26px 15px;

  font-weight: 500;
}
.custom-navlinks:hover {
  color: #fff;
  background: #f7941d;
  transition: all 0.4s ease;
}

// search bar

.custom-search-design {
  margin-top: 10px;
}
.input-box {
  position: relative;
  height: 48px;
  max-width: 525px;
  width: 100%;
  background: #fff;
  margin: 0 20px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.search-focus:focus {
  border: 3px solid rgb(60, 70, 70);
  border-radius: 5px;
}

.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border: none;
  padding: 0 0 0 10px;
  background-color: transparent;
}
.input-box .button {
  right: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 12px 15px;
  border-radius: 0 6px 6px 0;
  background-color: #333333;
  cursor: pointer;
}
.input-box .button:hover {
  background: rgb(247, 148, 29);
  transition: 0.4s ease;
}
.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

@media screen and (min-width: 1200px) {
  .custom-search-design .input-box {
    position: relative;
    left: 17%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sign-in-design {
    padding-left: 64px;
  }
}

@media screen and (max-width: 767px) {
  .input-box input {
    font-size: 12px;
    font-weight: 700;
  }
  .input-box {
    height: 35px;
    margin-left: 34px;
    margin-top: 18px;
  }

  .input-box .button {
    font-size: 10px;
    padding: 10px 9px;
  }
}

@media screen and (max-width: 500px) {
  .input-box i {
    left: 12px;
    font-size: 25px;
  }

  .input-box input {
    font-size: 10px;
  }
}

@media screen and (max-width: 390px) {
  .input-box {
    height: 28px;
  }
  .input-box .button {
    font-size: 8px;
    padding: 8px 9px;
  }
  .cart-design {
    padding-right: 0;
    padding-left: 3px;
  }
}
@media screen and (max-width: 370px) {
  .cart-account-design .account-design {
    display: none;
  }
  .sign-in-design {
    display: none;
  }
}

// Products listing

.product-header {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px Poppins, sans-serif;
}
.index-product-size {
  font-size: larger;
  padding: 20px 0;
}
.add-product-button {
  text-align: right;
  padding: 21px 0;
}
.add-product-button .add-product-text {
  background-color: #f7941d;
  color: #ffffff;
  padding: 7px 16px;
  border-radius: 4px;
  font-weight: 500;
}
.product-headings-background {
  color: #ffffff;
}

.custom-description-product {
  margin-top: 16px;
}
.custom-textarea {
  height: 200px;
}
.form-group .discard-design {
  color: #ffffff;
  font-weight: 500;
  background-color: #333333;
}
.form-group .discard-design:hover {
  background-color: #f7941d;
  transition: 0.4s ease;
}
.fw-name-custom {
  font-weight: 500;
}
.fw-name-custom:hover {
  text-decoration: underline;
}
.hr-product-bottom {
  border: 1px solid #eeeeee;
}
.custom-hover-product:hover {
  background-color: #eeeeee;
}
@media screen and (max-width: 575.98px) {
  .row .hr-product-bottom {
    margin-left: 1.8%;
    width: 96.5%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .row .hr-product-bottom {
    margin-left: 1.6%;
    width: 96.5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .row .hr-product-bottom {
    margin-left: 1.2%;
    width: 97.6%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .row .hr-product-bottom {
    margin-left: 0.8%;
    width: 98%;
  }
}

@media screen and (min-width: 1200px) {
  .row .hr-product-bottom {
    margin-left: 0.8%;
    width: 98.4%;
  }
}
.empty-product {
  color: #616a75;
  font-size: 14px;
}
.custom-image {
  width: 40px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
}
.cat-heading {
  color: #ffffff;
  font: 20px Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
  background: #f7941d;
  padding: 20px 25px;
}

.cat-heading .fa-bars {
  margin-right: 15px;
}
// Category
.sub-category {
  display: none;
}
.sub-category li {
  display: block;
  padding-left: 32px;
}
.main-category :hover .sub-category {
  display: block;
  float: right;
  transition: 0.5s ease;
  position: absolute;
  margin-left: 250px;
}
.main-category {
  list-style: none;
  padding-left: 0;
  margin-bottom: 7px;
}
.bg-main-design {
  height: 345px;
}
.sub-cat-design {
  color: #333333;
  padding: 13px 25px;
  font: 14px Poppins, sans-serif;
  font-weight: 500;
}
.dynamic-category-design {
  margin-bottom: 6px;
}

.sub-cat-design:hover {
  color: #f7941d;
}

.fa-angle-right:before {
  margin-left: 77px;
  display: none;
}
.accessor::before {
  margin-left: 44px;
}
.bag-jewe-design::before {
  margin-left: 18px;
}
.main-category :hover .fa-angle-right:before {
  display: block;
}
.sub-inner-design {
  color: #333333;
  font: 14px Poppins, sans-serif;
  font-weight: 400;
}
.sub-inner-design:hover {
  color: #f7941d;
}

.sub-category {
  position: absolute;
  top: 64px;
  z-index: 1;
}
.whole-slider-design {
  height: 344px;
}
.bg-design {
  padding-right: 70px;
  height: 344px;
}
// carousel
.slider {
  position: relative;
  width: 100%;
  height: 344px;
  overflow: hidden;
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider img.active {
  opacity: 1;
}
#slider-design {
  width: 100%;
  height: 344px;
}

.whole-slider-design {
  background: #c9c0ae;
}
//  Cart list section
.section-title {
  font: 30px Poppins, sans-serif;
  color: #2c2d3f;
  font-weight: 700;
}
.cart-sec {
  padding: 90px 0px 70px 0px;
}
.small-line {
  border: 1px solid #f7941d;
  width: 50px;
  text-align: center;
  margin: 0 auto;
}
.main-trend {
  padding: 50px 0;
}
.trend-item-design {
  padding: 5px 14px;
  font-weight: 500;
  color: #333;
  font: 13px;
}
.main-trend .trend-item-design:hover {
  color: #fff;
  background-color: #f7941d;
  border-radius: 3px;
}

// product list

.card {
  padding: 5px;
  margin-bottom: 7px;
  position: relative;
}
.card:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease-in-out;
  transform: translateY(-15px);
}
.card-body h2 {
  color: #424646;
  font: 14px Poppins, sans-serif;
}
.card-body .card-titel {
  font-weight: 600;
}
.card-body h5 {
  color: #f7941d;
  font-weight: 500;
  font: 18px Poppins, sans-serif;
}
.card-image-top {
  height: 100%;
  width: 100%;
}

.add-cart-button {
  color: #424646;
  font-size: 14px;
  border: none;
  background: white;
  font-weight: 500;
  display: none;
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
}
.card:hover .add-cart-button {
  display: block;
  transition: opacity 1s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
}
.add-cart-button:hover {
  color: #f7941d;
}
.cart-image-design {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
}
.cart-product-top {
  padding: 100px 0 50px 0;
}
.all-itself-cart {
  padding: 30px 0;
}
.cart-name-add h6 {
  font-weight: 500;
  color: #282828;
  font-size: 17px;
  text-align: left;
}
.cart-delete-button {
  box-shadow: none;
}
.cart-delete-button:hover {
  color: #f7941d;
  box-shadow: none;
}
.crt-hover:hover {
  color: #f7941d;
}
.cart-total-info {
  font: 17px Poppins, sans-serif;
  font-weight: 500;
  color: #333;
}
.cart-next-process {
  color: #ffffff;
  font: 14px Poppins, sans-serif;
  font-weight: 600;
}
.cart-next-bg {
  background: #333333;
  padding: 13px 32px;
  cursor: pointer;
}
.cart-next-process:hover {
  color: #ffffff;
}
.cart-next-bg:hover {
  background: #f7941d;
  transition: 0.3s ease-in-out;
}
.outer-els-empty-cart {
  background-color: #f4f4f4;
}
.outer-els-cont {
  padding: 95px 0px 95px 0px;
}
.empty-cart-design {
  color: #757575;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 18px;
}
.empty-cart-cont {
  color: #f7941d;
  font-weight: 500;
  border: 2px solid #f7941d;
  padding: 12px 36px;
}
.empty-cart-cont:hover {
  color: #ffffff;
  background: #f7941d;
}
.sale-pro-design {
  border: 1px solid #eee;
  margin: 5px 10px !important;
  padding: 10px 0px;
}
.card-design-sell:hover .add-cart-button-sell {
  display: block;
  transition: opacity 1s ease-in-out;
}
.card-design-sell {
  position: relative;
}
.add-cart-button-sell {
  color: #424646;
  font-size: 14px;
  border: none;
  background: white;
  font-weight: 500;
  display: none;
  position: absolute;
  bottom: 0.5px;
  left: 0;
  width: 100%;
}
.add-cart-button-sell:hover {
  color: #f7941d;
}
.sale-product-design-marg {
  padding: 70px 0px;
}
// Checkout form
.cart-small-line {
  border: 1px solid #f7941d;
  width: 50px;
  text-align: center;
}
.cart-container-design {
  padding: 80px 0px 50px 0px;
}
.checkout-main-heading {
  font: 25px Poppins, sans-serif;
  color: #333;
  font-weight: 700;
  line-height: 27px;
}
.sub-head-checkout {
  font: 16px Poppins, sans-serif;
  color: #333;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 15px;
}
.checkout-full-name {
  color: #333333;
  font-weight: 400;
  margin-bottom: 8px;
  padding-top: 15px;
}
.checkout-steric {
  color: #ff2c18;
  font: 16px Poppins, sans-serif;
  font-weight: 800;
}
.checkout-input-design {
  border: none !important;
  background: #f6f7fb !important;
  border-radius: 0 !important;
  height: 40px;
}
.checkout-input-design:focus {
  border: 2px solid #333 !important;
  outline: none !important;
  box-shadow: none !important;
}
.checkout-total-cart {
  font: 15px Poppins, sans-serif;
  font-weight: 600;
  color: #333;
  line-height: 24px;
  margin-bottom: 0;
}
.checkout-total-credential {
  font: 15px Poppins, sans-serif;
  font-weight: 500;
  color: #333;
}
.payment-option-design {
  border: 1px solid #eee;
  padding: 30px !important;
  margin-top: 20px !important;
}
.total-checkout-margin {
  margin-top: 30px;
}
.cart-total-checkout-bottom {
  margin-bottom: 40px;
}
.pro-cat-filter {
  margin-top: 80px;
}
.pay-method {
  margin-top: 26px;
}
.payment-card-design {
  height: auto;
  width: 100%;
  margin: 20px 0px;
}
.payment-option-design .form-group .check-button-final {
  background-color: #333333;
  color: #ffffff;
  font-weight: 600;
  border-radius: 0;
  height: 40px;
}
.payment-option-design .form-group .check-button-final:hover {
  background: #f7941d;
  transition: 0.3s ease-in-out;
}
.jazz-margin {
  transform: translateY(70px);
}
.jazz-logo-set {
  height: auto;
  width: 100px;
  transform: translateY(-10px);
}

// carousel deisgn left
.caro-design-left {
  margin-right: 170px;
  margin-bottom: 50px;
  padding: 10px;
  color: #333;
  background-color: #ffffff;
  font-size: 20px;
}
.caro-design-right {
  margin-left: 170px;
  margin-bottom: 50px;
  padding: 10px;
  color: #333;
  background-color: #ffffff;
  font-size: 20px;
}
.caro-design-left:hover {
  color: #ffffff;
  background-color: #f7941d;
}
.caro-design-right:hover {
  color: #ffffff;
  background-color: #f7941d;
}
.slider-caro-design-mid {
  padding: 90px 0px;
}
.paging-design {
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
}
// Footer
.bg-footer-design {
  background-color: #f6f7fb;
  padding: 60px 0px 40px 0px;
}
.rocket-footer {
  color: #333;
  font-size: 32px;
}
.rocket-outside-design {
  text-align: center;
}
.rocket-headng {
  color: #333333;
  font: 14px Poppins, sans-serif;
  font-weight: 600;
}
.rocket-text-design {
  color: #898989;
  font: 14px Poppins, sans-serif;
}
.payment-footer-ship {
  margin-bottom: 90px;
}
.last-footer {
  background-color: #434343;
  background-image: linear-gradient(to right, #434343, #000000);
  margin-top: 20px;
}
.footer-logo-design {
  margin-bottom: 20px;
}
.About-footer-store {
  color: #ffffff;
  font-weight: 400;
  font: 15px Poppins, sans-serif;
  line-height: 27px;
}
.contact-footer-design {
  color: #ffffff;
  font-weight: 400;
  font: 15px Poppins, sans-serif;
  margin-bottom: 8px;
}
.number-footer-design {
  color: #f7941d;
  font: 20px Poppins, sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
}
.footer-logo-design-custom {
  width: 130px;
}
.info-footer-design {
  margin-bottom: 33px;
  margin-top: 18px;
  color: #ffffff;
  font: 20px Poppins, sans-serif;
  font-weight: 600;
}
.footer-info-creden {
  margin-bottom: 8px;
}
.footer-info-creden:hover {
  transform: translateX(10px);
  transition: transform 0.5s ease-in-out;
}
.about-footer-cred {
  color: #fff;
  text-decoration: none;
}
.about-footer-cred:hover {
  color: #f7941d;
}
.footer-paddg-design {
  padding: 100px 0px;
}
.footer-line {
  border: 1px solid #535353;
}
.footer-end-copyrign-design {
  margin-bottom: 0px;
  font: 14px Poppins, sans-serif;
  color: #ffffff;
  padding: 20px 0px;
}
.pay-footer {
  padding: 20px 0px;
  float: none;
}
@media screen and (min-width: 992px) {
  .pay-footer {
    float: right;
  }
}
// Admin dashboard
.admin-nav-design {
  background-color: #333;
  padding: 25px 0px;
}
.admin-pro-design {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.admin-pro-design:hover {
  color: #fff;
  padding: 25px 10px;
  background-color: #f7941d;
}
