<% content_for :topbar do %>
  <%= render partial: 'partials/topbar' %>
<% end %>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .about-section {
        padding: 40px;
        text-align: center;
        margin-top: 40px;
    }

    .about-bg {
        box-shadow: 0px 0px 15px #0000001a;
    }

    .about-section h1 {
        font-size: 30px;
    }

    .about-section p {
        font-size: 16px;
        color: #666;
        margin-bottom: 30px;
    }
  </style>
</head>
<div class="container about-bg">
  <div class="about-section">
    <h1>About Us</h1>
    <p>Welcome to MultiWander Store, your one-stop destination for all your wanderlust needs. We believe that traveling should be an enjoyable and hassle-free experience for everyone. That's why we provide a wide range of high-quality products to
      enhance your travel adventures.</p>
    <p>At MultiWander Store, we are passionate about delivering exceptional customer service and curating a collection of products that cater to every traveler's unique preferences. Whether you're an outdoor enthusiast, a fashion-forward explorer,
      or a tech-savvy globetrotter, we have something for you.</p>
    <p>Our team of experienced professionals carefully selects each product to ensure durability, functionality, and style. From travel essentials such as luggage, travel accessories, and camping gear to trendy travel apparel and cutting-edge gadgets,
      we've got you covered.</p>
    <p>With our user-friendly online store, you can browse and purchase products from the comfort of your own home. We strive to provide a seamless shopping experience, secure payment options, and prompt delivery to your doorstep.</p>
    <p>Join us on our journey as we inspire and equip fellow travelers with the best products for their explorations. Discover new horizons with MultiWander Store today!</p>
  </div>
</div>
